.colour-select-container {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    margin: 8px;
}

.colour-select-container button {
    padding: .1em;
    border-radius: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0.05);
    transition: .1s ease-in-out;
}

.colour-select-container button:hover,
.colour-select-container button:focus {
    background-color: rgba(255, 255, 255, 0.2);
}

.colour-select-container button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}
