.segmented-digit {
    /* margin: 10px; */
    display: flex;
    /* padding: .03em; */
    padding: 0 .1em;
}

.segment {
    transition: .2s ease-in-out;
    fill: var(--primary);
}

.segment[disabled] {
    fill: rgba(125, 125, 125, 0.25);
}
